<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4"><%= @todo_list.title %> <%= @todo_list.description %> </h1>
  <p class="lead"><%= @todo_list.duedate %> | <%= @todo_list.status %>|<%= @todo_list.category %>
  |<%= @todo_list.priority %>
</p>
</p>
 
 <br/>
  
   <%= link_to 'Edit', edit_todo_list_path(@todo_list), class: "btn btn-info" %> 
<%= link_to 'Back', todo_lists_path ,class: "btn btn-info"%>

  
</div>
